{% extends 'base.html' %}

{% block content %}
<div class="flex justify-between items-center mb-8">
    <h1 class="text-3xl font-bold">Currency Rates</h1>
    <label class="input flex items-center gap-2 input-sm rounded-lg hidden lg:flex">
        <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g stroke-linejoin="round" stroke-linecap="round" stroke-width="2.5" fill="none" stroke="currentColor"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></g></svg>
        <input
                type="search"
                class="grow"
                placeholder="Search..."
                hx-get="{% url 'currencies:search_currencies' %}"
                hx-trigger="keyup changed delay:300ms, search"
                hx-target="#currency-table-body"
                hx-include="this"
                name="q"
        />
         <kbd class="kbd kbd-sm text-xs">⌘</kbd>
        <kbd class="kbd kbd-sm text-xs">K</kbd>
    </label>
    {% if user.is_authenticated %}
    <div class="items-right flex gap-2">
        <a href="{% url 'currencies:fetch_latest_rates' %}" class="btn btn-outline btn-sm btn-neutral rounded-lg">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="h-5 w-5 sm:mr-2 mr-0">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 0 0-3.7-3.7 48.678 48.678 0 0 0-7.324 0 4.006 4.006 0 0 0-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 0 0 3.7 3.7 48.656 48.656 0 0 0 7.324 0 4.006 4.006 0 0 0 3.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3-3 3" />
        </svg>
        <span class="hidden sm:inline">Fetch Latest</span>

    </a>
        <a href="{% url 'currencies:favorites' %}" class="btn btn-sm btn-primary rounded-lg">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:mr-2 mr-0" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
        <span class="hidden sm:inline">View Favorites</span>
    </a>
    </div>
    {% endif %}
</div>

<div class="overflow-x-auto rounded-lg border border-base-200 shadow-sm mb-4">
    <table class="table bg-white/50">
        <thead class="bg-base-100">
            <tr>
                <th class="text-base font-semibold">Base</th>
                <th class="text-base font-semibold">Currency</th>
                <th class="text-base font-semibold">Symbol</th>
                {% if user.is_authenticated %}
                <th class="text-right text-base font-semibold">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody id="currency-table-body">
            {% include 'currencies/currency_rows.html' %}
        </tbody>
    </table>
</div>

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.querySelector('input[type="search"]');

    document.body.addEventListener('click', function(e) {
        if (e.target.closest('.pagination-link')) {
            e.preventDefault();
            const url = e.target.closest('a').href;
            htmx.ajax('GET', url, '#currency-table-body');
        }
    });


    document.addEventListener('keydown', function(e) {
        if ((e.metaKey || e.ctrlKey) && e.key === 'k') {
            e.preventDefault();
            searchInput.focus();
        }
    });

    if (searchInput) {
        searchInput.addEventListener('keydown', function(e) {
            if (e.key === 'Escape') {
                this.value = '';
                htmx.trigger(this, 'search');
            }
        });
    }
});
</script>
{% endblock %}

{% endblock %}